<input type="button" value="1. Data Binding" [routerLink]="['/data-binding']" class="btn-primary">
<input type="button" value="2. Event Binding" [routerLink]="['/event-binding']" class="btn-primary">
<input type="button" value="3. Attribute Binding" [routerLink]="['/attribute-binding']" class="btn-primary">
<input type="button" value="4. Two Ways Binding" [routerLink]="['/two-ways-binding']" class="btn-primary">
<input type="button" value="5. Selection List" [routerLink]="['/selection-list']" class="btn-primary">
<input type="button" value="6. Services Static" [routerLink]="['/services-static']" class="btn-primary">
<input type="button" value="7. Services Http" [routerLink]="['/services-http']" class="btn-primary">
<input type="button" value="8. Services RXJS" [routerLink]="['/services-rxjs']" class="btn-primary">
<input type="button" value="9. Services Cache" [routerLink]="['/services-cache']" class="btn-primary">
<!--<br /><br />-->
<input type="button" value="10. Services API" [routerLink]="['/services-apiService']" class="btn-primary">
<input type="button" value="11. Services http CRUD" [routerLink]="['/services-http-CRUD']" class="btn-primary">
<input type="button" value="12. Services Async Pipe" [routerLink]="['/services-async-pipe']" class="btn-primary">
<input type="button" value="13. Services Live" [routerLink]="['/services-live']" class="btn-primary">
<input type="button" value="14. Services Live with Mapping" [routerLink]="['/services-live-with-mapping']" class="btn-primary">
<input type="button" value="15. Post RestAPI" [routerLink]="['/post-restapi']" class="btn-primary">
<input type="button" value="16. Components" [routerLink]="['/components']" class="btn-primary">
<input type="button" value="17. Components Inputs" [routerLink]="['/components-inputs']" class="btn-primary">
<input type="button" value="18. Components Outputs" [routerLink]="['/components-outputs']" class="btn-primary">
<input type="button" value="19. PubSub Order Component" [routerLink]="['/pubsub-ordercomponent']" class="btn-primary">
