/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  color: #fff;
  background-color: #0495c9;
  border-color: #357ebd; /*set the color you want here*/
}

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #000;
    background-color: #d1caca;
    border-color: #808080; /*set the color you want here*/
  }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #0d2075;
  background-color: #8ef0e6;
  border-color: #808080; /*set the color you want here*/
}
