<input type="button" value="Data Binding" [routerLink]="['/data-binding']" class="btn-primary">
<input type="button" value="Event Binding" [routerLink]="['/event-binding']" class="btn-primary">
<input type="button" value="Attribute Binding" [routerLink]="['/attribute-binding']" class="btn-primary">
<input type="button" value="Two Ways Binding" [routerLink]="['/two-ways-binding']" class="btn-primary">
<input type="button" value="Selection List" [routerLink]="['/selection-list']" class="btn-primary">
<hr />

